/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100%-100px);
    height: 100px;
    background-color: #0A285F;
    flex-direction: row;
    color: #FFCC00;
    text-shadow: 2px 2px #0075BE;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    height: 50px;
    width: auto;
  }

  h4 {
    font-size: 12px;
    padding-left: 15px;
  }

  .points-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }